In [6]:
import numpy as np
import math
import re
import scipy.stats as stats
import statistics
import pandas as pd 
from sklearn import preprocessing

In [5]:
n=29
a = str(n)
int(a[0])+int(a[1])

11

In [141]:
sample = [1, 2,3]
nums = [2,4,6]
prices = [1, 2, 3]
sample = []
for i in range(len(nums)):
    sample+= [prices[i]]*nums[i]
s = np.array(sample)
sample

[1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3]

In [142]:
s= np.array(prices).repeat(nums)
print(np.std(s))  # 預設的 ddof 是 0, 回傳 population standard deviation 母體標準差，分母(n)，有偏估計
print(np.std(s, ddof=1)) # ddof=1，回傳 sample standard deviation 樣本標準差，分母(n-1)，無偏估計
print(statistics.stdev(sample))

0.74535599249993
0.7784989441615231
0.778498944161523

In [132]:
sum(np.square(s - s.mean()))/len(s)
np.sqrt(sum(np.square(s - s.mean()))/len(s))

0.74535599249993

In [15]:
s = "Ab1C4de"
ns= re.sub('[0-9]','',s)
ns

'AbCde'

In [28]:
upper = [a.start() for a in list(re.finditer('[A-Z]', ns))]
lower = [a.start() for a in list(re.finditer('[a-z]', ns))]
upw = [ns[i].lower() for i in upper]
low = [ns[i].upper() for i in lower][::-1]
print(upper)
print(lower)
print(upw)
print(low)

[0, 2]
[1, 3, 4]
['a', 'c']
['E', 'D', 'B']

In [38]:
d1 = pd.DataFrame(list(zip(upper, upw)), columns=['order','world'])
d2 = pd.DataFrame(list(zip(lower, low)), columns=['order','world'])
''.join(pd.concat([d1,d2],axis=0).sort_values('order')['world'])

'aEcDB'

In [3]:
import time
from datetime import datetime, timedelta

In [7]:
startTimes = ["10:00", "11:00", "12:00"]
durations = [60, 60, 60]
durations = [90, 65, 40]

a = [datetime.strptime(i,'%H:%M') for i in startTimes]
print(a)
b = [i+timedelta(minutes=m) for i,m in zip(a,durations)]
print(b)
d = pd.DataFrame(list(zip(a, b)), columns=['start','end'])
nd = d.sort_values('end').reset_index(drop=True)
nd

[datetime.datetime(1900, 1, 1, 10, 0), datetime.datetime(1900, 1, 1, 11, 0), datetime.datetime(1900, 1, 1, 12, 0)]
[datetime.datetime(1900, 1, 1, 11, 30), datetime.datetime(1900, 1, 1, 12, 5), datetime.datetime(1900, 1, 1, 12, 40)]

                start                 end
0 1900-01-01 10:00:00 1900-01-01 11:30:00
1 1900-01-01 11:00:00 1900-01-01 12:05:00
2 1900-01-01 12:00:00 1900-01-01 12:40:00

In [108]:
i=0
c = [i]
for j in range(len(a)):
    if nd['start'][j]>=nd['end'][i]:
        print(j)
        i = j
        c.append(i)
print(c)
len(c)

2
[0, 2]

2