In [2]:
# 載入 Pandas 套件
import pandas as pd

# 檢查正確載入與版本
print(pd)
print(pd.__version__)

<module 'pandas' from '/Users/nicolelinmbp2022/venv/lib/python3.9/site-packages/pandas/__init__.py'>
1.5.2

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/MachineLearningLiuMing/scikit-learn-primer-guide/master/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

### Create Dataframe

In [4]:
df = pd.DataFrame([1, 2, 3], index=['a', 'b', 'c'], columns=['No'])
print(df)
df = pd.DataFrame([[1, 2, 3]], columns=['a', 'b', 'c'])
print(df)

   No
a   1
b   2
c   3
   a  b  c
0  1  2  3

In [5]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob'],
    'Age': [18, 20],
})
print(df)

df = pd.DataFrame([
  {'Name': 'Alice', 'Age': 18},
  {'Name': 'Bob', 'Age': 20}
])
print(df)

d = [['Alice', 18],['Bob', 20]]
df = pd.DataFrame(d, columns=['Name','Age'])
print(df)

    Name  Age
0  Alice   18
1    Bob   20
    Name  Age
0  Alice   18
1    Bob   20
    Name  Age
0  Alice   18
1    Bob   20

### Data selection

In [6]:
df[df.Name=='Alice']

    Name  Age
0  Alice   18

In [11]:
df.iloc[1]

Name    Bob
Age      20
Name: 1, dtype: object

In [14]:
df.loc[:,'Name']

0    Alice
1      Bob
Name: Name, dtype: object